#contentContainer {
    background-color: #colors[yellow1];
    .flexRow();
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    >.contentBox {
        margin: 0.5rem;
        padding: 0.5rem;
        background-color: #colors[orange1]
    }
}