header {
    .flexRow();
    align-items: center;
    justify-content: space-between;
    >nav {
        font-size: 1.3rem;
        width: 20rem;
        .flexRow();
        justify-content: space-evenly;
        >a {
            text-decoration: none;
            .button();
        }
    }
    background-color: #colors[green1];
    padding: 0.2rem;
    #logo {
        width: 4rem;
    }
}