#colors() {
    green1: #0DCA71;
    green2: #0cba68;
    yellow1: #FDCB02;
    yellow2: #fdae02;
    orange1: #E07037;
    red1: #dc4b4b;
}
#fonts() {
    primaryFont: 'Roboto', sans-serif;
    secondaryFont: 'Viga', sans-serif;
}